<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/img/umkc1.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Select Service</ion-label>
    </ion-list-header>

    <ion-item href="https://www.umkc.edu/asm/mast/index.cfm ">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Tutoring and Mentoring</ion-label>
    </ion-item>
    <ion-item href="https://www.umkc.edu/finadmin/cashiers/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>ashier's office</ion-label>
    </ion-item>
    <ion-item href="https://sa.umsystem.edu/SecureAuth67/ ">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>touchNet</ion-label>
    </ion-item>
    <ion-item href="https://info.umkc.edu/studenthealth/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Student Health and Wellness</ion-label>
    </ion-item>
    <ion-item href="https://career.umkc.edu/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Career services</ion-label>
    </ion-item>
    <ion-item href="https://finaid.umkc.edu/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Financial Aid and scholarship</ion-label>
    </ion-item>
    <ion-item href="https://www.umkcbookstore.com/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Bookstore</ion-label>
    </ion-item>
    <ion-item href="https://info.umkc.edu/news/tag/administrative-services/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Administrative services </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
